<p><strong>Name: </strong>
<%= @user.name %></p>
<% if !@user.admin? %>
  <p><strong>Tickets: </strong>
  <%= @user.tickets %></p>
  <p><strong>Mood: </strong>
  <%= @user.mood %></p>
  <p><strong>Height: </strong>
  <%= @user.height %></p>
<% else %>
  <p><strong>ADMIN</strong></p>
<% end %>
<br><a href="/users/@user/edit">Edit</a>
<br><a href="/attractions">See attractions</a>
